In [1]:
import pandas as pd
from statsmodels.tsa.holtwinters import SimpleExpSmoothing, Holt
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
import numpy as np

In [16]:
data = pd.read_csv('E:\\vrutti\\Book4.csv') #path
df = pd.DataFrame(data)
train = df['Y3'].iloc[0:11]
test = df['Y3'].iloc[11:12]

In [17]:
fit1 = SimpleExpSmoothing(train, initialization_method="estimated").fit(smoothing_level=0.2,optimized=False)
fcast1 = fit1.forecast(1)

In [18]:
print (fcast1)

11    18.635813
dtype: float64

In [19]:
###### Moving Average #######

In [39]:
newdf = df['Y3'].iloc[0:12]
df['Moving average forecast'] = newdf.rolling(window=3).mean()

In [40]:
df[['Y3','Moving average forecast']].iloc[0:12]

      Y3  Moving average forecast
0   17.0                      NaN
1   21.0                      NaN
2   19.0                     19.0
3   23.0                     21.0
4   18.0                     20.0
5   16.0                     19.0
6   20.0                     18.0
7   18.0                     18.0
8   22.0                     20.0
9   20.0                     20.0
10  15.0                     19.0
11  22.0                     19.0

12